torch
transformers
sentencepiece
sentence-transformers
faiss-cpu
numpy
pandas
import os
from config import config
ollama
scikit-learn
xgboost
optuna
imbalanced-learn
joblib
loguru
tenacity
pydantic
pydantic-settings
peft
accelerate
huggingface_hub
rank_bm25